@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --fs-screen-small: 1.35rem;
    --fs-screen-big: 1.8rem;
    --ff-body: "Bai Jamjuree", sans-serif;
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --clr-strong-cyan: hsl(171, 66%, 44%);
    --clr-light-blue: hsl(233, 100%, 69%);
    --clr-dark-grayish-blue: hsl(210, 10%, 33%);
    --clr-grayish-blue: hsl(201, 11%, 66%);
    --clr-footer: #f1f1f1;
    --clr-white: #fff;
}

body {
    font-size: var(--fs-screen-small);
    font-family: var(--ff-body);
    font-weight: var(--fw-normal);
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    body {
        font-size: var(--fs-screen-big);
    }
}

/* Header */

.header {
    text-align: center;
    background: url("images/bg-header-mobile.png") top no-repeat;
    background-size: 100%;
    padding: 8em 2.5em 5em;
}

.header__logo {
    width: 110px;
    margin: 0 auto 4em;
}

.header__title {
    font-size: 2.6rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    line-height: 1.2em;
    margin-bottom: 0.65em;
}

.header__content {
    color: var(--clr-grayish-blue);
    line-height: 1.55em;
    margin-bottom: 3em;
}

.header__btn {
    cursor: pointer;
    border: 0;
    display: block;
    width: 100%;
    padding: 1.3em 0;
    border-radius: 40px;
    font-family: var(--ff-body);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.05em;
    color: var(--clr-white);
}

.header__ios-btn {
    margin-bottom: 1.5em;
    background-color: var(--clr-strong-cyan);
    box-shadow: inset 0px -3px hsl(171, 74%, 34%),
        3px 5px 12px hsl(171, 66%, 44%, 0.3);
}

.header__mac-btn {
    background-color: var(--clr-light-blue);
    box-shadow: inset 0px -3px hsl(233, 100%, 64%),
        3px 5px 12px hsl(233, 100%, 69%, 0.3);
}

.header__ios-btn--active:hover,
.header__ios-btn--active:focus,
.header__mac-btn--active:hover,
.header__mac-btn--active:focus {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .header {
        background: url("images/bg-header-desktop.png") top no-repeat;
        padding: 6.5em 0 4em;
    }
    .header__container {
        width: 610px;
        margin: 0 auto;
    }
    .header__logo {
        margin: 0 auto 4em;
    }
    .header__title {
        font-size: 3.9rem;
        line-height: 0;
        margin-bottom: 1em;
    }
    .header__content {
        line-height: 1.4em;
        margin-bottom: 2.5em;
    }
    .header__btn {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: var(--fw-normal);
        padding: 1em 0;
        width: 192px;
    }
    .header__ios-btn {
        margin-bottom: 0;
    }
    .header__mac-btn {
        margin-left: 0.65em;
    }
}

/* Keep track section */

.main__keep {
    padding: 5em 2.5em 5.5em;
    text-align: center;
}

.main__keep-title {
    font-size: 2.4rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    line-height: 1.2em;
    margin-bottom: 0.8em;
}

.main__keep-content {
    color: var(--clr-grayish-blue);
    line-height: 1.7em;
    margin-bottom: 4em;
}

.main__keep-img {
    display: block;
    width: 307px;
    margin: 0 auto 4em;
}

.main__keep-item {
    margin-bottom: 3em;
}

.main__keep-item:last-child {
    margin-bottom: 0;
}

.main__keep-item-title {
    font-size: 2rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    margin-bottom: 0.6em;
}

.main__keep-item-content {
    color: var(--clr-grayish-blue);
    line-height: 1.65em;
}

@media (min-width: 768px) {
    .main__keep {
        padding: 3.5em 0 4em;
    }
    .main__keep-info-one {
        width: 610px;
        margin: 0 auto;
    }
    .main__keep-title {
        font-size: 3rem;
        line-height: 0;
        margin-bottom: 1.1em;
    }
    .main__keep-content {
        font-size: 1.6rem;
    }
    .main__keep-info-two {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main__keep-img {
        width: 60%;
        margin: 0 0 0 -4.5em;
    }
    .main__keep-list {
        width: 37%;
        padding-right: 2em;
        text-align: left;
    }
    .main__keep-item-title {
        font-size: 2.3rem;
    }
    .main__keep-item-content {
        font-size: 1.5rem;
        line-height: 1.9em;
    }
}

@media (min-width: 992px) {
    .main__keep-list {
        padding-right: 4em;
    }
}

@media (min-width: 1440px) {
    .main__keep-list {
        padding-right: 12em;
    }
}

/* Access clipboard section */

.main__access {
    padding: 5em 2.5em 3em;
    text-align: center;
}

.main__access-title {
    font-size: 2.4rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    line-height: 1.25em;
    margin-bottom: 0.7em;
}

.main__access-content {
    color: var(--clr-grayish-blue);
    line-height: 1.7em;
    margin-bottom: 3.5em;
}

.main__access-img {
    display: block;
    width: 307px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main__access {
        padding: 4.5em 0;
        width: 610px;
        margin: 0 auto;
    }
    .main__access-title {
        font-size: 3rem;
        line-height: 0;
        margin-bottom: 1.2em;
    }
    .main__access-content {
        font-size: 1.6rem;
        margin-bottom: 5.5em;
    }
    .main__access-img {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .main__access-img {
        width: 800px;
        margin: 0 0 0 -15%;
    }
}

/* Supercharge section */

.main__supercharge {
    padding: 3em 2.5em 0;
    text-align: center;
}

.main__supercharge-title {
    font-size: 2.4rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

.main__supercharge-content {
    color: var(--clr-grayish-blue);
    line-height: 1.7em;
    margin-bottom: 6em;
}

.main__supercharge-item {
    margin-bottom: 3.5em;
}

.main__supercharge-item:last-child {
    margin-bottom: 0;
}

.main__supercharge-item-icon {
    display: block;
    margin: 0 auto 2.5em;
}

.main__supercharge-item:nth-of-type(1) .main__supercharge-item-icon {
    width: 37px;
}

.main__supercharge-item:nth-of-type(2) .main__supercharge-item-icon {
    width: 30px;
}

.main__supercharge-item:nth-of-type(3) .main__supercharge-item-icon {
    width: 42px;
}

.main__supercharge-item-title {
    font-size: 2rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    margin-bottom: 0.8em;
}

.main__supercharge-item-content {
    color: var(--clr-grayish-blue);
    line-height: 1.7em;
}

@media (min-width: 768px) {
    .main__supercharge {
        padding: 0 2.5em;
    }
    .main__supercharge-info {
        width: 610px;
        margin: 0 auto;
    }
    .main__supercharge-title {
        font-size: 3rem;
        line-height: 0;
        margin-bottom: 1.2em;
    }
    .main__supercharge-content {
        font-size: 1.6rem;
        margin-bottom: 4.5em;
    }
    .main__supercharge-item {
        margin-bottom: 0;
        width: 30%;
    }
    .main__supercharge-item-icon {
        margin: 0 auto 2.3em;
    }
    .main__supercharge-item:nth-of-type(1) .main__supercharge-item-icon {
        margin: 0 auto 1.9em;
    }
    .main__supercharge-list {
        display: flex;
        justify-content: space-between;
    }
    .main__supercharge-item-title {
        font-size: 2.3rem;
    }
    .main__supercharge-item-content {
        font-size: 1.5rem;
        line-height: 1.9em;
    }
}

@media (min-width: 992px) {
    .main__supercharge {
        padding: 0 5em;
    }
}

@media (min-width: 1200px) {
    .main__supercharge {
        padding: 0 7em;
    }
}

@media (min-width: 1440px) {
    .main__supercharge {
        padding: 0 10em;
    }
}

/* Company section */

.main__company {
    padding: 8em 0;
}

.main__company-logo {
    display: block;
    margin: 0 auto 4em;
}

.main__company-logo:nth-of-type(1) {
    width: 120px;
}

.main__company-logo:nth-of-type(2) {
    width: 100px;
}

.main__company-logo:nth-of-type(3) {
    width: 115px;
}

.main__company-logo:nth-of-type(4) {
    width: 100px;
}

.main__company-logo:nth-of-type(5) {
    width: 90px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .main__company {
        padding: 8em 2.5em 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main__company-logo {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .main__company-logo:nth-of-type(1) {
        width: 155px;
    }
    .main__company-logo:nth-of-type(2) {
        width: 130px;
    }
    .main__company-logo:nth-of-type(3) {
        width: 155px;
    }
    .main__company-logo:nth-of-type(4) {
        width: 128px;
    }
    .main__company-logo:nth-of-type(5) {
        width: 120px;
    }
}

@media (min-width: 1200px) {
    .main__company {
        padding: 8em 7em 6em;
    }
}

/* Clipboard section */

.main__clipboard {
    padding: 2.5em 3em 11em;
    text-align: center;
}

.main__clipboard-title {
    font-size: 2.4rem;
    font-weight: var(--fw-semi-bold);
    color: var(--clr-dark-grayish-blue);
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

.main__clipboard-content {
    color: var(--clr-grayish-blue);
    line-height: 1.7em;
    margin-bottom: 3em;
}

.main__clipboard-btn {
    cursor: pointer;
    border: 0;
    display: block;
    width: 100%;
    padding: 1.3em 0;
    border-radius: 40px;
    font-family: var(--ff-body);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.05em;
    color: var(--clr-white);
}

.main__clipboard-ios-btn {
    margin-bottom: 1.5em;
    background-color: var(--clr-strong-cyan);
    box-shadow: inset 0px -3px hsl(171, 74%, 34%),
        3px 5px 12px hsl(171, 66%, 44%, 0.3);
}

.main__clipboard-mac-btn {
    background-color: var(--clr-light-blue);
    box-shadow: inset 0px -3px hsl(233, 100%, 64%),
        3px 5px 12px hsl(233, 100%, 69%, 0.3);
}

.main__clipboard-ios-btn--active:hover,
.main__clipboard-ios-btn--active:focus,
.main__clipboard-mac-btn--active:hover,
.main__clipboard-mac-btn--active:focus {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .main__clipboard {
        padding: 3em 0 7.5em;
        width: 610px;
        margin: 0 auto;
    }
    .main__clipboard-title {
        font-size: 3rem;
        line-height: 0;
        margin-bottom: 1.2em;
    }
    .main__clipboard-content {
        font-size: 1.6rem;
        margin-bottom: 2.6em;
    }
    .main__clipboard-btn {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: var(--fw-normal);
        padding: 1em 0;
        width: 192px;
    }
    .main__clipboard-ios-btn {
        margin-bottom: 0;
    }
    .main__clipboard-mac-btn {
        margin-left: 0.65em;
    }
}

/* Footer */

.footer {
    background-color: var(--clr-footer);
    padding: 3.2em 0;
    text-align: center;
}

.footer__logo {
    width: 48px;
    margin: 0 auto 2.7em;
}

.footer__nav {
    margin-bottom: 3.5em;
}

.footer__nav-item {
    margin-bottom: 1.8em;
}

.footer__nav-list:last-child .footer__nav-item {
    margin-bottom: 0;
}

.footer__nav-link {
    text-decoration: none;
    font-size: 1.45rem;
    color: var(--clr-dark-grayish-blue);
}

.footer__nav-link--active:hover,
.footer__nav-link--active:focus {
    color: var(--clr-strong-cyan);
}

.footer__icon-list {
    text-align: center;
}

.footer__icon-item {
    display: inline;
}

.footer__icon-item + .footer__icon-item {
    margin-left: 2.2em;
}

.footer__icon-link {
    text-decoration: none;
}

.footer__icon {
    font-size: 2.2rem;
    color: var(--clr-dark-grayish-blue);
}

.footer__icon-item:nth-of-type(2) .footer__icon {
    font-size: 1.9rem;
}

.footer__icon--active:hover,
.footer__icon--active:focus {
    color: var(--clr-strong-cyan);
}

@media (min-width: 768px) {
    .footer {
        padding: 2.4em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__figure {
        width: 25%;
    }
    .footer__logo {
        width: 52px;
        margin: 0;
    }
    .footer__nav {
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 0;
        width: 45%;
    }
    .footer__nav-link {
        font-size: 1.55rem;
    }
    .footer__nav-item {
        margin-bottom: 1.1em;
    }
    .footer__nav-item:last-child {
        margin-bottom: 0;
    }
    .footer__icon-list {
        width: 30%;
    }
    .footer__icon-item + .footer__icon-item {
        margin-left: 1em;
    }
    .footer__icon {
        font-size: 2.5rem;
    }
    .footer__icon-item:nth-of-type(2) .footer__icon {
        font-size: 2.2rem;
    }
}

@media (min-width: 992px) {
    .footer__figure {
        width: 25%;
    }
    .footer__nav {
        width: 35%;
    }
    .footer__icon-list {
        width: 40%;
    }
}
