@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --ff-body: "Spartan", sans-serif;
    --fs-screen-small: 1.2rem;
    --fs-screen-big: 1.5rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --pd-screen-small: 5em 1.5em;
    --pd-screen-big: 9.5em;
    --clr-primary: hsl(300, 43%, 22%);
    --clr-role: hsl(333, 80%, 67%);
    --clr-content: hsl(303, 10%, 53%);
    --clr-rating: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-screen-small);
    font-weight: var(--fw-regular);
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url("images/bg-pattern-top-mobile.svg") no-repeat top left;
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url("images/bg-pattern-bottom-mobile.svg") no-repeat bottom
        right;
}

.container {
    padding: var(--pd-screen-small);
}

.rating {
    text-align: center;
}

.rating__title {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    width: 80%;
    margin: 0 auto 0.8em;
}

.rating__content {
    line-height: 1.6em;
    color: var(--clr-content);
    margin-bottom: 3em;
}

.rating__card-list {
    margin-bottom: 4em;
}

.rating__card {
    background-color: var(--clr-rating);
    border-radius: 5px;
    padding: 1em 0;
    margin-bottom: 1.3em;
}

.rating__card:last-child {
    margin-bottom: 0;
}

.rating__star-list {
    margin-bottom: 0.8em;
}

.rating__star {
    width: 15px;
    margin-left: 0.5em;
}

.rating__star-info {
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
}

.testimonial__item {
    background-color: var(--clr-primary);
    padding: 2.5em 2em;
    margin-bottom: 1.3em;
    border-radius: 7px;
}

.testimonial__item:last-child {
    margin-bottom: 0;
}

.testimonial__info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.testimonial__img {
    width: 35px;
    border-radius: 50%;
}

.testimonial__detail {
    margin-left: 1.5em;
}

.testimonial__name {
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-white);
    margin-bottom: 0.5em;
}

.testimonial__role {
    font-size: 1.1rem;
    font-weight: var(--fw-regular);
    color: var(--clr-role);
}

.testimonial__speech {
    line-height: 1.5em;
    color: var(--clr-white);
}

@media (min-width: 768px) {
    body {
        font-size: var(--fs-screen-big);
    }
    body::before {
        background: url("images/bg-pattern-top-desktop.svg") no-repeat top left;
    }
    body::after {
        background: url("images/bg-pattern-bottom-desktop.svg") no-repeat bottom
            right;
    }
    .container {
        padding: 4em;
    }
    .rating {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.5em;
    }
    .rating__info {
        text-align: left;
        width: 40%;
    }
    .rating__title {
        font-size: 4.5rem;
        margin: 0 0 0.3em;
        width: 100%;
    }
    .rating__content {
        margin-bottom: 0;
    }
    .rating__card-list {
        width: 55%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .rating__card {
        display: flex;
        padding: 1.2em 1.5em;
        align-items: center;
        width: 80%;
        margin-bottom: 1.2em;
    }
    .rating__card:nth-of-type(1) {
        align-self: flex-start;
    }
    .rating__card:nth-of-type(2) {
        align-self: center;
    }
    .rating__card:nth-of-type(3) {
        align-self: flex-end;
    }
    .rating__star-list {
        margin-bottom: 0;
    }
    .rating__star {
        width: 16px;
    }
    .rating__star-info {
        font-size: 1.3rem;
        margin-left: 2.5em;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 6em;
    }
}

@media (min-width: 1200px) {
    .testimonial__list {
        height: 310px;
        display: flex;
        gap: 30px;
    }
    .testimonial__item {
        padding: 2.7em 2.2em;
        height: max-content;
        margin-bottom: 0;
    }
    .testimonial__item:nth-of-type(1) {
        align-self: flex-start;
    }
    .testimonial__item:nth-of-type(2) {
        align-self: center;
    }
    .testimonial__item:nth-of-type(3) {
        align-self: flex-end;
    }
    .testimonial__img {
        width: 45px;
    }
    .testimonial__name {
        font-size: 1.4rem;
    }
    .testimonial__role {
        font-size: 1.4rem;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: var(--pd-screen-big);
    }
    .rating__info {
        width: 40%;
    }
    .rating__card-list {
        width: 50%;
    }
}
